* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[data-theme='light'] {
    --bg: #bfdbf7;
    --text: #000000;
    --cardBg: #fff;
    --cardTxtH1: #333;
    --cardTxtH2: #555;
    --cardTxt: #555;
    --icon: #000000;
    --headerBg: rgb(11, 125, 232);
    --footerBg: rgb(255, 255, 255);
    --formBg: #ffffff;
    --snackbarBg: black;
    --snackbarTxt: #fff;
}

body[data-theme='dark'] {
    --bg: #242323;
    --text: #f1f1f1;
    --cardBg: black;
    --cardTxtH1: #f1f1f1;
    --cardTxtH2: #f1f1f1;
    --cardTxt: #f1f1f1;
    --icon: #fff;
    --headerBg: black;
    --footerBg: rgb(22, 21, 21);
    --formBg: black;
    --snackbarBg: #fff;
    --snackbarTxt: black;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: all 0.3s ease;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

.loaderFrame {
    position: fixed;
    background-color: #000000c7;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #a1a1a1;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.snackbar {
    width: 50px;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--snackbarBg);
    color: var(--snackbarTxt);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    animation: fadein 0.5s;
    z-index: 300;
}



.errorField input {
    border-color: #c70000;
    outline: 0;
    border-width: 2px;
}

.error {
    color: #c70000;
    font-weight: bold;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}